.reg_box {
  text-align: center;
  width: 420px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 8px 8px 10 black;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.re{
    font-weight: bolder;
}
